<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<form method="POST">
			<input name="username" placeholder="username">
			<input name="password" type="password" placeholder="password">
			<button type="submit">Confirm</button>
		</form>
	</body>
</html>
